<launch>
     <arg name="viz"          default="true"/>

     <arg name="rgb_topic"    default="/camera/color/image_raw"/>
     <arg name="depth_topic"  default="/camera/depth/image_rect_raw"/>
     <arg name="imu_topic"    default="/mavros/imu/data"/>

     <arg name="vocab_file"   default="/home/hunter/devel/ORB_SLAM3/Vocabulary/ORBvoc.bin"/>
     <arg name="calib_file"   default="/home/hunter/devel/ORB_SLAM3/Examples/ROS/ORB_SLAM3/params/d415_imu.yaml"/>

     <arg name="debug"          default="false"/>
     <arg unless="$(arg debug)" name="launch_args" default=""/>
     <arg if="$(arg debug)"     name="launch_args" default="gdb -ex run --args"/>

     <node name="orb_slam3_rgbd_imu" pkg="ORB_SLAM3" type="RGBD_Inertial" launch-prefix="$(arg launch_args)" output="screen">
          <param name="rgb_topic"   type="string" value="$(arg rgb_topic)" />
          <param name="depth_topic" type="string" value="$(arg depth_topic)" />
          <param name="imu_topic"   type="string" value="$(arg imu_topic)" />

          <param name="vocab_path"  type="string" value="$(arg vocab_file)" />
          <param name="calib_path"  type="string" value="$(arg calib_file)" />

          <param name="visualize"   type="bool"   value="$(arg viz)" />

          <!-- Camera calibration parameters -->
          <!--If the node should wait for a camera_info topic to take the camera calibration data-->
          <!-- <param name="load_calibration_from_cam" type="bool" value="false" /> -->
     </node>
</launch>
